h1 {
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
}

.textBox {
    width: 100%;
    position: absolute;
}

.textBox.top {
    top: 0;
}

.textBox.center {
    top: 50%;
}

.textBox.bottom {
    bottom: 0;
}

.slider {
    margin: auto;
    width: 800px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
}

.slide {
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    position: relative;
}

.slide.active {
    display: block;
}

.slide .textBox span {
    padding: 0 5px;
}